/*Font*/
p, h1, h2, h3, h4, li {
    font-family: 'Droid Sans', sans-serif;
}
h2 {
    color: #4b4b4b;
    font-size: 1em;
    text-transform:uppercase;
}
.portfolio-item img {
    width: 85vw;
}
.portfolio-item p {
    padding:5%;
    color: #3b3b3b;
}
.portfolio-item {
    text-align: center;
}
.wrapper {
    text-align:center;
    width: 100%;
    margin:auto;
    background-color: #fff;
    padding-top:5%;
}
header {
    background-color: #fafafa;
    margin-top: -20px;
}
header p {
    color: #8d8d8d;
    text-align:center;
    padding: 5%;
}
li {
    font-weight: bolder;
    font-size: 1.25em;
    text-transform:uppercase;
    margin: 5px;
    background-color: #fff;
    width: 85%;
    padding: 5%;
    display: inline-block;
}

footer {

}
.contact-wrapper {
    width: 100%;
    margin: auto;
    padding-top: 15%;
    padding-bottom: 5%;
    background-color: #fafafa;
}
.contact-wrapper p {
    color: #3b3b3b;
    padding: 5%; 
}
.profile {
    align-content:center;
}
.profile img {
    display:block;
    width: 75%;
    margin: auto;
}
nav {
 text-align: center;
}
.left {
    float:left;
}
.right {
    float:right;
}